<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Inicio Sesion</title>
<link th:href="@{/webjars/bootstrap/4.0.0-alpha.6/dist/css/bootstrap.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap-theme.css}" rel="stylesheet" media="screen"/>  
</head>
<body>
<div th:replace="/fragments/nav :: nav">

</div>
<h2 align="center" style="margin-top:20px; margin-bottom:50px;">Añadir Propuesta</h2>
<div class="container">
<form th:action="@{/anadirPropuesta}" method="POST">
  <div class="form-group">
  <label for="title" class="col-2 col-form-label">Título: </label>
  <div class="col-10">
    <input class="form-control" type="text"  id="title" name="titulo"/>
  </div>
</div>

  <div class="form-group">
    <label for="exampleSelect1">Categoría: </label>
    <select class="form-control" id="exampleSelect1" name="categoria">
      <option>Categoria 1</option>
      <option>Categoria 2</option>
      <option>Categoria 3</option>
    </select>
  </div>
 
  <div class="form-group">
    <label for="suggestionText">Propuesta: </label>
    <textarea class="form-control" id="suggestionText" rows="3" name="propuesta"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Crear propuesta</button>
</form>
</div>
</body>
</html>