<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Principal Admin</title>
	<link th:href="@{/webjars/bootstrap/4.0.0-alpha.6/dist/css/bootstrap.css}" rel="stylesheet" media="screen"/>
	<link th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap-theme.css}" rel="stylesheet" media="screen"/> 
	<script type="text/javascript">
		function showFileName() {
		   var fil = document.getElementById("myFile");
		   alert(fil.value);
		}
	</script>
</head>

<body>
	<div th:replace="/fragments/navAdmin :: nav">
	
	</div>
	
	<h2 align="center" style="margin-top:20px; margin-bottom:50px;">Propuestas en tramite</h2>
<div class="container">	
	<table class="table">
		<thead class="thead-inverse">
			<tr>
				<th>Titulo</th>
				<th>Categoria</th>
				<th>Autor</th>
				<th>Fecha de creacion</th>
				<th>Numero de votos positivos</th>
				<th>Numero de votos negativos</th>
				<th>Modificar numero minimo de votos</th>
				<th>Rechazar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sugerencia : ${suggestions}">
				<td th:text="${sugerencia.title}" />
				<td th:text="${sugerencia.category.name}" />
				<td th:text="${sugerencia.participant.nombre}" />
				<td th:text="${#dates.format(sugerencia.creationDate, 'dd-MM-yyyy')}" />
				<td th:text="${sugerencia.positiveVotes}" />
				<td th:text="${sugerencia.negativeVotes}" />
				<td>
					<form th:action="@{/modificarMinimoVotos/{id}(id=${sugerencia.id})}" method="POST">
					    <input id="minVotos" name="minVotos" type="number" th:value="${sugerencia.minVotos}"/>
					    <input type="submit" value="Modificar" />
					</form>
				</td>
				<td>
					<form id="rechazar" th:action="@{/rechazarPropuesta/{id}(id=${sugerencia.id})}">
						<button type="submit">Rechazar</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<h2 align="center" style="margin-top:20px; margin-bottom:50px;">Propuestas rechazadas</h2>
<div class="container">	
	<table class="table">
		<thead class="thead-inverse">
			<tr>
				<th>Titulo</th>
				<th>Categoria</th>
				<th>Autor</th>
				<th>Fecha de creacion</th>
				<th>Numero de votos positivos</th>
				<th>Numero de votos negativos</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sugerencia : ${suggestionsRechazadas}">
				<td th:text="${sugerencia.title}" />
				<td th:text="${sugerencia.category.name}" />
				<td th:text="${sugerencia.participant.nombre}" />
				<td th:text="${#dates.format(sugerencia.creationDate, 'dd-MM-yyyy')}" />
				<td th:text="${sugerencia.positiveVotes}" />
				<td th:text="${sugerencia.negativeVotes}" />
			</tr>
		</tbody>
	</table>
</div>

<h2 align="center" style="margin-top:20px; margin-bottom:50px;">Propuestas aceptadas</h2>
<div class="container">	
	<table class="table">
		<thead class="thead-inverse">
			<tr>
				<th>Titulo</th>
				<th>Categoria</th>
				<th>Autor</th>
				<th>Fecha de creacion</th>
				<th>Numero de votos positivos</th>
				<th>Numero de votos negativos</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="sugerencia : ${suggestionsAceptadas}">
				<td th:text="${sugerencia.title}" />
				<td th:text="${sugerencia.category.name}" />
				<td th:text="${sugerencia.participant.nombre}" />
				<td th:text="${#dates.format(sugerencia.creationDate, 'dd-MM-yyyy')}" />
				<td th:text="${sugerencia.positiveVotes}" />
				<td th:text="${sugerencia.negativeVotes}" />
			</tr>
		</tbody>
	</table>
</div>
	
	
	<!-- Para añadir excel con los usuarios
	<form  class="form-horizontal" role="form" action="registrar"  method="POST">
		<div>
		   	<label class="control-label">Seleccione archivo</label>
			<input id="input-1" type="file" name="archivo" class="custom-file-imput"/>
			<input type="submit" value="Registrar" />
	    </div>
	</form> -->
</body>
</html>