<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Inicio Sesion</title>
<link th:href="@{/webjars/bootstrap/4.0.0-alpha.6/dist/css/bootstrap.css}" rel="stylesheet" media="screen"/>
<link th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap-theme.css}" rel="stylesheet" media="screen"/> 
</head>
<body>
<div th:replace="/fragments/nav :: nav">

</div>
<h2 align="center" style="margin-top:20px; margin-bottom:50px;">Propuestas</h2>
<div class="container" th:each="sug : ${suggestions}">
	<div class="card text-center" style="margin-top: 50px">
	  <div class="card-header">
	    <span th:text="${sug.title}"></span>
	  </div>
	  <div class="card-block">
	    <h4 class="card-title" th:text="${sug.participant.usuario}"></h4>
	    <p class="card-text" th:text="${sug.suggestionPreview}"></p>
	    <a th:href="@{/verPropuesta/{id}(id=${sug.id})}" class="btn btn-primary">Ver propuesta</a>
	  </div>
	  <div class="card-footer text-muted">
	     <span th:text="${sug.creationDate}"></span>
	  </div>
</div>
</div>
</body>
</html>